@import "tachyons";

:root {
  --color-canvas: #faf8f7;
  --color-sapphire: #0a2463;
  --color-bittersweet: #fd7268;
  --color-fair-pink: #f8ece8;
  --color-solitude: #dfe2ec;
  --color-notify: #ecd47d;
  --color-warning: #c94d07;

  --color-sapphire-neg: var(--nord4);
  --color-warning: var(--nord11);

  --color-synopsis: var(--nord15);
}

body {
  @insert .avenir .lh-copy;
  color: var(--color-sapphire);
  font-size: 16px;
  background-color: var(--color-canvas);
  font-weight: 300;
}

pre {
  @insert .ba .pa2 .b--gray .bg-light-gray;
  overflow: auto;
}

.logo {
  width: 50px;
}

.header1 {
  font-size: 3.052em;
  color: var(--color-sapphire);
  line-height: 1em;
  font-weight: 300;
}

.header2 {
  font-size: 2.441em;
  color: var(--color-sapphire);
  line-height: 1em;
}

.header2-neg {
  font-size: 2.441em;
  color: white;
  font-weight: 300;
}

.header4 {
  font-size: 1.563em;
  color: var(--color-sapphire);
  line-height: 1em;
  font-weight: unset;
}

a {
  @insert .pa1 .br2;
  color: var(--color-sapphire);
  text-decoration: none;
}

a:hover {
  /* color: var(--color-elevated-neg); */
  background-color: var(--color-solitude);
  text-decoration: none;
}

p a {
  background-color: var(--color-solitude);
}

footer a {
  @insert .o-70;
  color: var(--color-solitude);
}

footer a:hover {
  @insert .bg-white .o-100;
  color: var(--color-sapphire);
}

.main {
  color: var(--color-sapphire);
}

.card {
  background-color: white;
  color: white;
  width: 100%;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.negative {
  color: white;
  background-color: var(--color-sapphire);
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.color-main {
  color: var(--color-sapphire);
}

.color-main-negative {
  color: var(--color-sapphire-neg);
}

.synopsis {
  color: var(--color-sapphire);
}

.notification {
  color: var(--color-notify);
}

.warning {
  color: var(--color-warning);
}

.bg-canvas {
  background-color: var(--color-canvas);
}

.bg-negative {
  background-color: var(--color-sapphire);
}

.bg-warning {
  background-color: var(--color-warning);
}

.link-reset-negative {
  @insert .link .pa0;
  color: var(--color-solitude);
}

.link-reset-negative:hover {
  @insert .link;
  color: var(--color-solitude);
  background-color: var(--color-sapphire);
}

.b--main {
  border-color: var(--color-sapphire);
}

.b--negative {
  border-color: var(--color-sapphire-neg);
}

.b--notification {
  border-color: var(--color-notify);
}

.b--warning {
  border-color: var(--color-warning);
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}
.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease;
}

/* From Ncube*/

/* Colors */
.canvas {
  color: var(--color-canvas);
}

.bittersweet {
  color: var(--color-bittersweet);
}

.sapphire {
  color: var(--color-sapphire);
}

.fair-pink {
  color: var(--color-fair-pink);
}

.solitude {
  color: var(--color-solitude);
}

.gray-25 {
  color: var(--color-gray-25);
}

.gray-75 {
  color: var(--color-gray-75);
}

.success {
  color: var(--color-success);
}

.error {
  color: var(--color-error);
}
/* Background */

.bg-canvas {
  background: var(--color-canvas);
}

.bg-bittersweet {
  background: var(--color-bittersweet);
}

.bg-sapphire {
  background: var(--color-sapphire);
}

.bg-fair-pink {
  background: var(--color-fair-pink);
}

.bg-solitude {
  background: var(--color-solitude); /* Background of tags */
}

.bg-gray-25 {
  background: var(--color-gray-25);
}

.bg-gray-75 {
  background: var(--color-gray-75);
}

.bg-success {
  background: var(--color-success);
}

.bg-notify {
  background: var(--color-notify);
}

.bg-error {
  background: var(--color-error);
}
/* Background */

.bg-youtube {
  background: var(--color-youtube);
}

.bg-twitter {
  background: var(--color-twitter);
}

.bg-http {
  background: var(--color-http);
}

/* Borders */

.b--canvas {
  border-color: var(--color-canvas);
}

.b--bittersweet {
  border-color: var(--color-bittersweet);
}

.b--sapphire {
  border-color: var(--color-sapphire);
}

.b--fair-pink {
  border-color: var(--color-fair-pink);
}

.b--solitude {
  border-color: var(--color-solitude);
}

.b--gray-25 {
  border-color: var(--color-gray-25);
}

.b--gray-75 {
  border-color: var(--color-gray-75);
}

.b--error {
  border-color: var(--color-error);
}

.b--youtube {
  border-color: var(--color-youtube);
}

.b--twitter {
  border-color: var(--color-twitter);
}

.b--url {
  border-color: var(--color-url);
}

/* List */

li {
  margin-bottom: 1rem;
}

/* Butons */
button:focus {
  outline-color: #ffffff00;
  cursor: pointer;
}

.btn {
  @insert .white .link .pa2 .ttu .br2 .tc .b .nowrap;
  border-radius: 3px;
  font-weight: 300;
  cursor: pointer;
}

.btn-active {
  @insert .btn;
  cursor: pointer;
}

.btn-disabled {
  @insert .btn .gray-75 .bg-white .b--gray-75 .o-50;
  cursor: unset;
}

.btn-sapphire {
  @insert .bg-sapphire .b--sapphire;
}

.btn-bittersweet {
  @insert .bg-bittersweet .b--bittersweet;
}

.btn-billboard {
  @insert .bg-sapphire .b--bittersweet;
  border: 1px solid var(--color-bittersweet);
}

.btn-more {
  @insert .bg-white .b--bittersweet .sapphire;
  border: 1px solid var(--color-bittersweet);
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn-out {
  border: 1px solid white;
}

.btn-out:hover {
  border: 1px solid black;
  cursor: pointer;
}

.btn-black {
  @insert .bg-black .b--black;
}

.btn-large {
  width: 8rem;
}

.btn-regular {
  width: 6rem;
}

.margin-negative {
  margin-top: -60px;
}
